<button (click)="mostrarCarrito()" name="carrito" href="#" id="cart-link" class="link-cart">
    <svg class="svg" height="64px" width="64px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier"> 
            <path style="fill:#999999;" d="M256,0C114.616,0,0,114.616,0,256s114.616,256,256,256s256-114.616,256-256S397.384,0,256,0z"></path> 
            <polyline points="248.424,176.376 268.552,120.376 398.384,180.688 "></polyline> 
            <circle cx="351.688" cy="384" r="40.4"></circle> 
            <circle cx="229.72" cy="384" r="40.4"></circle> 
            <g> 
                <polygon style="fill:#FFFFFF;" points="199.32,187.152 172.752,108.56 104,108.56 104,87.56 187.824,87.56 219.216,180.424 "></polygon> 
                <path style="fill:#FFFFFF;" d="M417.312,185.512l-44.184,123.96H208.712l-38.6-123.96H417.312 M440,169.512H148.376l48.56,155.96 h187.472L440,169.512L440,169.512z"></path> 
            </g> 
        </g>
    </svg>
    <span class="cartCount" id="cart-count">0</span>
</button>