<!-- BOCETO DE IF EN ANGULAR PARA MOSTRAR CUANDO CLICKEEN EL MENÚ -->

<!-- <ng-container *ngIf="onClick === true">
    <div class="contenedor__producto">
        <h2 class="producto_data producto_title">{{ product.title }}</h2>
        <p class="producto_data producto_price">$ {{ product.price }}</p>
        <img [ngSrc]="product.images[0]" alt="imagen" width="320" height="300" class="producto_data producto_img">
        <button class="button">COMPRAR</button>

    </div>
</ng-container>
<ng-container *ngIf="!product">
    product no renderizado 
</ng-container> -->
